html {
    font-family: 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

address, applet, article, aside, audio, blockquote, body, canvas, caption, dd, details, div, dl, dt, embed, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, html, iframe, li, mark, menu, nav, object, ol, output, p, pre, progress, ruby, section, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none
}

a:active, a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    line-height: normal
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

::-ms-clear, ::-ms-reveal {
    display: none
}

input:-webkit-autofill {
    -webkit-animation: autofill-fix 1s infinite !important;
    -webkit-text-fill-color: #666;
    -webkit-transition: background-color 50000s ease-in-out 0s !important;
    transition: background-color 50000s ease-in-out 0s !important;
    background-color: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important
}

[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

input[type=number], input[type=password], input[type=text], textarea {
    -webkit-appearance: none
}
@font-face {
    font-family: 'daily_editor';
    src: url('../font/editor/editor.eot?52438661');
    src: url('../font/editor/editor.eot?52438661#iefix') format('embedded-opentype'),
    url('../font/editor/editor.woff?52438661') format('woff'),
    url('../font/editor/editor.ttf?52438661') format('truetype'),
    url('../font/editor/editor.svg?52438661#daily_editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="daily_editor_icon-"]:before, [class*="daily_editor_icon-"]:before {
    font-family: 'daily_editor', serif;
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;

    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    margin-left: .2em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.daily_editor_icon-instagram:before { content: '\e800'; } /* '' */
.daily_editor_icon-minus:before { content: '\e801'; } /* '' */
.daily_editor_icon-picture:before { content: '\e802'; } /* '' */
.daily_editor_icon-minus-circled:before { content: '\e803'; } /* '' */
.daily_editor_icon-cog:before { content: '\e804'; } /* '' */
.daily_editor_icon-link:before { content: '\e805'; } /* '' */
.daily_editor_icon-unlink:before { content: '\e806'; } /* '' */
.daily_editor_icon-code:before { content: '\e807'; } /* '' */
.daily_editor_icon-quote-right:before { content: '\e808'; } /* '' */
.daily_editor_icon-comment:before { content: '\e809'; } /* '' */
.daily_editor_icon-trash-empty:before { content: '\e80a'; } /* '' */
.daily_editor_icon-down-open:before { content: '\e80b'; } /* '' */
.daily_editor_icon-up-open:before { content: '\e80c'; } /* '' */
.daily_editor_icon-up-big:before { content: '\e80d'; } /* '' */
.daily_editor_icon-down-big:before { content: '\e80e'; } /* '' */
.daily_editor_icon-header:before { content: '\e80f'; } /* '' */
.daily_editor_icon-align-center:before { content: '\e810'; } /* '' */
.daily_editor_icon-align-left:before { content: '\e811'; } /* '' */
.daily_editor_icon-align-right:before { content: '\e812'; } /* '' */
.daily_editor_icon-list:before { content: '\e813'; } /* '' */
.daily_editor_icon-strike:before { content: '\e814'; } /* '' */
.daily_editor_icon-underline:before { content: '\e815'; } /* '' */
.daily_editor_icon-table:before { content: '\e816'; } /* '' */
.daily_editor_icon-columns:before { content: '\e817'; } /* '' */
.daily_editor_icon-bold:before { content: '\e818'; } /* '' */
.daily_editor_icon-italic:before { content: '\e819'; } /* '' */
.daily_editor_icon-smile:before { content: '\e81a'; } /* '' */
.daily_editor_icon-twitter:before { content: '\e81b'; } /* '' */
.daily_editor_icon-plus-1:before { content: '\e81c'; } /* '' */
.daily_editor_icon-plus-circled-1:before { content: '\e81d'; } /* '' */
.daily_editor_icon-quote:before { content: '\e81e'; } /* '' */
.daily_editor_icon-code-1:before { content: '\e81f'; } /* '' */
.daily_editor_icon-trash:before { content: '\e820'; } /* '' */
.daily_editor_icon-list-add:before { content: '\e821'; } /* '' */
.daily_editor_icon-list-1:before { content: '\e822'; } /* '' */



/* EDITOR */
.hidden {display: none !important;}
.hidden_file {position: absolute; opacity: 0; z-index: -1; left:-99999px; }

.daily_editor{
    padding: 10px 30px;
    overflow-x: auto;
}

.daily_editor button{
    border: 0;
    outline: none;
    background: transparent;
}
.daily_editor [contenteditable]{
    outline: none;
}

.daily_editor .node{
    position: relative;
}

.daily_editor .add_buttons{
    position: relative;
    color: #3b4352;
    font-size: 16px;
}
.daily_editor .add_buttons button:hover,
.daily_editor .add_buttons .focused{
    color: #3770ef;
}
.daily_editor .add_buttons button{
    transition: all 150ms ease-in;
    transform: translate3d(-50px, 0 , 0);
    opacity: 0;
    font-size: 14px;
    /*display: none;*/
}
.daily_editor .buttons_toggled{
    background: #fff;
}
.daily_editor .buttons_toggled button{
    opacity: 1;
    transform: translate3d(0,0,0);
}


.daily_editor .toggler{
    position: absolute;
    left: -42px;
    display: inline-block;
    font-size: 23px;
    color: #387ff5;
    transition: transform 100ms ease-in;
}
.daily_editor .buttons_toggled .toggler{
    transform: rotate(45deg);
}

/** Typography styles */
.daily_editor p{
    margin: 30px 0;
    font-size: 17px;
}
